.container {
    width: 800px;
  }

div.tablehead{
  position: relative;
  z-index: 50;
}  
div.tablebody{
  position: relative;
  z-index: 10;
  margin-top: -2px;
}  
table.tablehead{
  margin: auto;
  border: 1px solid #d2d2d2;
  border-collapse: collapse;
  background-color: white;
}
table.tablebody{
  margin: auto;
  border: 1px solid #d2d2d2;
  border-collapse: collapse;
  background-color: white;
}
th, td{
  border: 1px solid #d2d2d2;
  border-collapse: collapse;
}
th{
  font-size: 0.9em;
  text-align: center;
  height: 5px;
}
td {
  font-size: 0.7em;
  width: 150px;
  height: 60px;
}
.mx-auto {
  border: 2px solid #d2d2d2;
  border-collapse: collapse;
  height: 175px;
  margin-top: 10px;
  margin-bottom: 30px;
}
#t {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 5px;
}
div.hour {
  height: 60px;
  line-height: 60px;
  font-weight: normal;
  border-top: 1px solid #d2d2d2;
  font-size: 13px;
  box-sizing: border-box;
}
table.tablehead th.time {
  width: 65px;
}
table.tablehead th {
  width: 150px;
}
div.grids{
  position: absolute;
  z-index: 0;
}
div.cols{
  position: absolute;
  z-index: 11;
}
div.grid{
  border-top: 1px solid #d2d2d2;
  height: 60px;
  box-sizing: border-box;
  width: 150px;
}
div.subject{
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  overflow: hidden;
  box-sizing: border-box;
  height: 61px;
  width: 150px;
  z-index: 10;
  margin-bottom: -1px;
}

div.hours{
  z-index: 12;
}
.timetable table.tablebody tr td{
  padding: 0px;
  vertical-align: top;
}
.timetable table.tablebody tr th{
  padding: 0px;
  vertical-align: top;
  width: 65px;
}
div.timetable{
  margin-bottom: 10px;
}
body{
  overflow-y: scroll;
  min-width: 820px;
}

#noteList{
  overflow-y: scroll;
  height: 140px;

}


div.color1{
  background-color: #FFF8CC;
}
div.color2{
  background-color: #ffe9e9;
}